<a href="https://colab.research.google.com/github/OlaotanOpakunle/Python-Data-Science/blob/main/Series_Methods_and_Handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pd.read_csv('https://andybek.com/pandas-drinks')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,NaN,NaN,NaN,NaN
1,Albania,89.0,132.0,54.0,4.9
2,Algeria,25.0,NaN,14.0,0.7
3,Andorra,245.0,138.0,312.0,12.4
4,Angola,217.0,57.0,45.0,5.9
...,...,...,...,...,...
188,Venezuela,333.0,1.0,3.0,7.7
189,Vietnam,111.0,2.0,1.0,2.0
190,Yemen,6.0,NaN,NaN,0.1
191,Zambia,32.0,19.0,4.0,2.5
192,Zimbabwe,64.0,18.0,4.0,4.7

In [5]:
pd.read_csv('https://andybek.com/pandas-drinks', usecols=["country", "wine_servings"])

         country  wine_servings
0    Afghanistan            NaN
1        Albania           54.0
2        Algeria           14.0
3        Andorra          312.0
4         Angola           45.0
..           ...            ...
188    Venezuela            3.0
189      Vietnam            1.0
190        Yemen            NaN
191       Zambia            4.0
192     Zimbabwe            4.0

[193 rows x 2 columns]

In [6]:
pd.read_csv('https://andybek.com/pandas-drinks', usecols=["country", "wine_servings"], index_col="country")

             wine_servings
country
Afghanistan            NaN
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
...                    ...
Venezuela              3.0
Vietnam                1.0
Yemen                  NaN
Zambia                 4.0
Zimbabwe               4.0

[193 rows x 1 columns]

In [8]:
alcohol = pd.read_csv('https://andybek.com/pandas-drinks', usecols=["country", "wine_servings"], index_col="country")

In [9]:
alcohol.head()

             wine_servings
country
Afghanistan            NaN
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0

In [10]:
type(alcohol)

pandas.core.frame.DataFrame

In [11]:
alcohol = pd.read_csv('https://andybek.com/pandas-drinks', usecols=["country", "wine_servings"], index_col="country", squeeze=True)

In [12]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [13]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [14]:
type(alcohol)

pandas.core.series.Series